# VARIABLES D'ENVIRONNEMENT
.env
frontend/.env
backend/.env

# BACKEND
backend/node_modules/

# FRONTEND
frontend/node_modules/
frontend/.next/

# CONFIG
docker-compose.prod.yml
database/init/01-schema.sql
config/nginx/ssl/
config/nginx/nginx.prod.conf

